@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-red_shimmer: #fee0da;
  --color-red_reign: #7f0808;
  --color-red_republic: #d80000;
  --color-baragon_brown: #540a06;
  --color-neutral-light: #eeeef0;
  --color-neutral-highlight: #b2b3bd;
  --color-neutral-midtone: #797b86;
  --color-neutral-dark: #6c6e79;

  /* Almarena Fonts - match these to your layout file variables */
  --font-almarena-regular: var(--font-almarena-regular);
  --font-almarena-semibold: var(--font-almarena-semibold);
  --font-almarena-medium: var(--font-almarena-medium);
  --font-almarena-bold: var(--font-almarena-bold);
  --font-almarena-light: var(--font-almarena-light);
  /* --font-almarena-thin: var(--font-almarena-thin); */
  --font-almarena-regular-italic: var(--font-almarena-regular-italic);
  --font-almarena-bold-italic: var(--font-almarena-bold-italic);
  --font-almarena-light-italic: var(--font-almarena-light-italic);
  
  /* Helvetica Fonts */
  --font-helvetica-regular: var(--font-helvetica-regular);
  --font-helvetica-semibold: var(--font-helvetica-semibold);
  --font-helvetica-bold: var(--font-helvetica-bold);
  --font-helvetica-light: var(--font-helvetica-light);
  --font-helvetica-thin: var(--font-helvetica-thin);
  --font-helvetica-regular-italic: var(--font-helvetica-regular-italic);
  --font-helvetica-bold-italic: var(--font-helvetica-bold-italic);
  --font-helvetica-light-italic: var(--font-helvetica-light-italic);
  --font-helvetica-thin-italic: var(--font-helvetica-thin-italic);

  /* Online Fonts */
  --font-inter: 'Inter', sans-serif;

  
}
